/vendor
/node_modules
/public/build
/public/hot
/public/storage
/public/fonts-manifest.dev.json
/.env
/.env.backup
/.env.production
/.phpunit.cache
/.task
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.DS_Store
.idea
.vscode
*.sublime-project
*.sublime-workspace
